.canonic_event {
    margin: 5.6vw 0;

    .image-text-section--image-full-width {
        &__text_container {
            p {
                color: #fff;
                
                &:nth-child(3) {
                    margin: 16px 0;
                }
            }
        }
    }
}